body {
    margin:0;
    padding:0;
    font-family: Helvetica, Helvetica Neue, Arial, sans-sarif;
    background-color: aqua;
}
nav {
    display:flex;
    flex-direction:row;
    justify-content:center;
    list-style-type: none;
    font-weight: bolder;
    gap: 2rem;
    margin: auto;
    padding: 10px;
    background-color:lightsteelblue;
}
a {
  text-decoration:none;
}
h1 {
    text-align: center;
}
h2 {
  text-align:center;
}
h4 {
  text-align:center;
}
h6 {
  text-align:center;
  font-size:0.4rem;
  margin:50px 0 0 0;
  padding:20px;
}
footer {
  background-color:lightsteelblue;
  margin:auto;
}
p {
    text-align:center;
    line-height:1.8em;
    padding:0 20px;
}
.dropbtn {
    background-color: lightsteelblue;
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight:bold;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.5rem;
    background-color:aquamarine;
}
.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(186, 195, 255);
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
}

.course-card {
  background-color: blue;
  border-radius: 25px;
  box-shadow: 0 0 10px 20px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-weight: none;
  flex: 1 1 30%; /* Flex-grow, flex-shrink, and flex-basis */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content; /* Set a fixed height for the course cards */
}

.course-card a {
  color: white;
  text-decoration: none;
}

.course-card:hover {
  transform: translateY(-10px);
}
    ol {
      text-align:center;
      line-height: 1.8rem;
      list-style-position:inside;
      padding:0 1rem;
    }
  li {
    text-align:center;
  }
  table {
    border-spacing:0;
  }
  table tr td {
    border:3px solid;
    padding:0 1rem;
    border-collapse:collapse;
    
  }
  /* Change the background color of the dropdown button when the dropdown content is shown */
